

.topbar {
  width: 100%;
  height: 2em;
  background: rgba(21, 21, 21, 0.6);
  margin-bottom: 5em;
}
.toptext {
  margin-top: 0.3em;
  font-size: 1.3em;
  color: white;
}

.main_title {
  margin: 0;
  padding-top: 0.3em;
  color: #FFFFFF;
  font-size: 1.3em;
  text-align: center;
}

.content {
  align-self: center;
  margin: 0 auto;
  width: 70%;
  height: 48em;
  background: rgba(21,21,21,0.5);
  border-radius: 0.2em;
  border-style: solid;
  border-color: #1100ff;
  border-width: 0.1em;
}

.content_topbar {
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  border-bottom: #1100ff;
  border-right: transparent;
  border-top: transparent;
  border-right: transparent;
  border-style: solid;
  border-width: 0.1em;
}

.admin_title {
  font-size: 2em;
  height: 100%;
  margin-top: 0.1em;
  text-align: center;
  color: white;
}

.sidebar {
  float: left;
  text-align: center;
  width: 15%;
  height: 100%;
  margin: 0;
  border-style: solid;
  border-right-color: #1100ff;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-width: 0.1em;
  box-sizing: border-box;
  position: relative;
}

.sidebar_button {
  padding: 0;
  width: 100%;
  height: 3em;
  font-family: Pixel, serif;
  font-size: 1.7em;
  color: white;
  margin: 0;
  background: none;
  border: none;
  position: relative;
  left: 0;
  cursor: pointer;
}

.sidebar_button:hover {
  background: rgba(21,21,21,0.7);
  cursor: pointer;
}

.sidebar_button:active {
  background: rgba(21,21,21,1);
  cursor: pointer;
}

.component {
  position: relative;
  float: right;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bottom_bar {
  position: absolute;
  display: flex;
  width: 59.5%;
  height: 1.5em;
  right: 15%;
  background: #262626;
}

.console {
  text-align: left;
  width: fit-content;
  color: white;
  font-size: 1.5em;
  margin: 0.05em 0 0 0.5em;
}

.other_input {
  background: none;
  outline: none;
  border: none;
  flex-grow: 2;
  margin: 0 0 0 0.5em;
  color: white;
  font-family: Pixel, serif;
  font-size: 1.2em;
}




.sidebar_button_pressed {
  padding: 0;
  width: 100%;
  height: 3em;
  font-family: Pixel, serif;
  font-size: 1.7em;
  color: white;
  margin: 0;
  background: rgba(21,21,21,1);
  border: none;
  position: relative;
  left: 0;
}

.sidebar_button_pressed:hover {
  cursor: pointer;
}

.toGame {
  position: absolute;
  height: 2.5em;
  width: 5em;
  border: solid white 0.15em;
  bottom: 2em;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toGame:hover {
  background: rgba(255,255,255,0.1);
}

.toGame:active {
  background: rgba(255,255,255,0.2);
}

.toGameText {
  color: white;
  font-size: 1.2em;
}
