<div class="container">
  <p class="credits-title">- CREDITS -</p>
  <div class="credit-container">
    <div class="top-container">
      <div class="credit">
        <p class="credit-title" style="color: goldenrod">- MUSIC -</p>
        <p class="credit-text">blinch - PDTA OST:</p>
        <p class="credit-text">Title Screen</p>
        <p class="credit-text">Main Theme</p>
        <p class="credit-text">Screen OFF</p>
        <p class="credit-text">Pentagram</p>
        <p class="credit-text">UFO</p>
        <p class="credit-text">Overgrown City</p>
        <p class="credit-text">Leviathan</p>
        <p class="credit-text">Judgement</p>
        <p class="credit-text">Reverse</p>
      </div>
      <div class="separator"></div>
      <div class="credit">
        <p class="credit-title" style="color: forestgreen">- ARTWORK -</p>
        <p class="credit-text">SPRITES/BACKGROUND/ICONS - Nealcos Mircea</p>
        <p class="credit-text">FIGHT BACKGROUND - Sky-Burial @ DeviantArt</p>
      </div>
      <div class="separator"></div>
      <div class="credit">
        <p class="credit-title" style="color: cornflowerblue">- PROGRAMMING -</p>
        <p class="credit-text">DB/BACKEND/FRONTEND - Nealcos Mircea</p>
        <p class="credit-text">HELPERS:</p>
        <p class="credit-text">Diana Voicu</p>
        <p class="credit-text">Sandrino Patrulescu</p>
        <p class="credit-text">Alessio Schiau</p>
        <p class="credit-text">Amalia Diana</p>
      </div>
    </div>
    <p class="info">ArtSoft Consult - 2022 Java Internship - Nealcos Mircea</p>
  </div>
</div>
