<div class="controls">
  <div [ngClass]="hasAttacked ? 'action_button_disabled' : 'action_button'" (click)="toggleAttackInterface()">
    <p class="action">ATTACK</p>
    <img src="assets/icons/attack.png" class="action_icon">
  </div>
  <div [ngClass]="hasUsedAbility ? 'action_button_disabled' : 'action_button'" (click)="toggleAbilityInterface()">
    <p class="action">ABILITIES</p>
    <img src="assets/icons/ability_particles.png" class="action_icon">
  </div>
  <div class="action_button"(click)="toggleMonsterTurn()">
    <p class="action">END TURN</p>
  </div>
</div>

<div class="separator"></div>

<div [ngClass]="hasUsedItem ? 'inventory_disabled' : 'inventory'">
  <div class="inventory_title">
    <p class="action" style="margin-right: 0.5em;">INVENTORY</p>
    <img src="assets/icons/inventory.png" class="action_icon">
  </div>
  <div class="inventory_grid">
    <div class="inventory_section">
      <p class="action" style="font-size: 0.9em; margin: 0.3em 0 0 0;">THROWABLES</p>
      <div class="item_list">
        <div [ngClass]="hasUsedItem ? 'item_box_disabled' : 'item_box'" *ngFor="let throwable of throwables" title="{{throwable.name}}" (click)="selectItem(throwable)">
          <img src="assets/sprites/items/{{throwable.picture}}" class="item_image">
          <p class="item_count">{{getItemCount(throwable)}}</p>
        </div>
      </div>
    </div>
    <div class="inventory_section">
      <p class="action" style="font-size: 0.9em; margin: 0.3em 0 0 0;">POTIONS</p>
      <div class="item_list">
        <div [ngClass]="hasUsedItem ? 'item_box_disabled' : 'item_box'" *ngFor="let potion of potions" title="{{potion.name}}" (click)="selectItem(potion)">
          <img src="assets/sprites/items/{{potion.picture}}" class="item_image">
          <p class="item_count">{{getItemCount(potion)}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
