.almanac_title {
  color: #11e039;
  font-size: 3em;
}

.monster_container {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.monster {
  margin: 1em 0 0 5em;
  float: left;
  background: none;
  border: none;
  width: 10em;
  height: 10em;
  padding: 2em;
}

.monster_image {
  padding: 1.5em;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
