.almanac_title {
  font-family: Lore, sans-serif;
  color: #11e039;
  font-size: 1.5em;
  margin: 2em 0 2em 0;
  letter-spacing: 0.2em;
}

.container {
  position: absolute;
  height: 80%;
  width: 90%;
  border: solid green 0.02em;
  border-bottom: 0;
  border-right: 0;
  left: 0;
  right: 0;
  margin: auto;
}
