.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #797979;*/
  column-gap: 2em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 3em;
}

.export_container {
  height: 100%;
  width: 45%;
  /*background: #1100ff;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.separator {
  height: 80%;
  width: 0.02em;
  background: white;
}

.title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 0;
}

.excel_button {
  height: 10%;
  width: 50%;
  background: none;
  border: solid white 0.2em;
  color: white;
  font-family: Pixel, serif;
  font-size: 1.2em;
  cursor: pointer;
}

.excel_button:hover {
  background: rgba(255,255,255, 0.1);
}

.excel_button:active {
  background: rgba(255,255,255, 0.2);
}

.template_link_container {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5.5em;
  /*background: #797979;*/
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4em;
}

.template_link_text {
  color: white;
  font-size: 1.2em;
}

.template_link {
  color: white;
  font-size: 1.2em;
  text-decoration: underline rgba(255,255,255,0.3) 0.1em;
  cursor: pointer;
}

.template_link:hover {
  text-decoration: underline rgba(255,255,255,0.5) 0.1em;
}

.template_link:active {
  text-decoration: underline rgba(255,255,255,0.8) 0.1em;
}

.message {
  color: white;
  font-size: 1.2em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 3.5em;
}

