<div class="container">
  <div class="info-container">
    <p class="champ_title">HOW TO PLAY</p>
    <p class="info">{{info}}</p>
    <div class="info-image-container" style="margin: 2em 0 0 0;">
      <div class="small_container">
        <img src="assets/help/attack.png" class="info-image">
        <p class="info">Hit spacebar when the slider is at the center for maximum damage efficiency.</p>
      </div>
      <div class="separator"></div>
      <div class="small_container">
        <img src="assets/help/abilities.png" class="info-image">
        <p class="info">Use abilities at cost of mana points.</p>
      </div>
      <div class="separator"></div>
      <div class="small_container">
        <img src="assets/help/inventory.png" style="height: 50%; width: auto" class="info-image">
        <p class="info">Use throwables to deal damage or potions to refill your HP and mana.</p>
      </div>
    </div>
  </div>
</div>
