.topbar {
  width: 100%;
  height: 2em;
  background: rgba(21, 21, 21, 0.6);
}
.toptext {
  margin-top: 0.3em;
  font-size: 1.3em;
  color: white;
}
.info {
  margin: 1.5em 0 0 0;
  color: white;
  font-size: 1.5em;
}
