<div style="text-align:center">
  <div class="topbar">
    <p class="toptext" style="float: left; margin-left: 0.2em; opacity: 1">mirceanealcos_</p>
    <p class="toptext" style="float: right; margin-right: 0.2em">v1.0</p>
  </div>
  <h1 class="title">log_in</h1>
  <form class="login">
    <p class="input_label">username_</p>
    <input type="text" class="input" id="username_input" placeholder="enter_username"/>
    <p class="input_label">password_</p>
    <input type="password" class="input" id="password_input" placeholder="enter_password"/>
    <p class="link" style="height: 0.2em;" (click)="forgotUsername()">forgot_username</p>
    <p class="link" (click)="forgotPassword()">forgot_password</p>
    <p class="submit" (click)="logon()">submit_</p>
  </form>
  <p class="info" *ngIf="info">Incorrect username/password combination or the account hasn't been validated!</p>
  <p class="other">new_here?</p>
  <p class="other_link" (click)="register()">BECOME_A_FIGHTER!</p>
</div>

