<div class="scene">
  <div class="no_prep" *ngIf="!hasLoadout && !epilepsy && !game && !win && !lose">
    <p class="info">Prepare yourself first, warrior!</p>
    <p class="info">Use the prep menu to choose your loadout.</p>
  </div>
  <div class="prep" *ngIf="hasLoadout && !epilepsy && !game && !win && !lose">
    <p class="ready_title">READY?</p>
    <button class="ready_button" (click)="toggleFight()">FIGHT!</button>
    <p class="info">Once you hit the button, you will have to carry this fight to the end, or you will lose all equipped items! You cannot travel between menus until you finish the battle. Good luck, warrior!</p>
  </div>
  <div class="epilepsy_white" id="epilepsy" *ngIf="epilepsy && !game && !win && !lose">
    <p class="epilepsy_text_black" id="epilepsy_text">FIGHT!</p>
  </div>
  <div class="game_container" *ngIf="game && !win && !lose">
    <div class="fight_scene">
      <div class="fight_grounds">
        <img src="assets/animations/fight_background.gif" class="fight_background">
        <div class="champion" *ngIf="playerHitEffect">
          <img src="assets/sprites/champions/{{gameEntity.champion.picture}}" height="100%">
        </div>
        <div class="monster" *ngIf="monsterHitEffect">
          <img src="{{monsterPicture}}" style="height: {{monsterHeight}}%; bottom: {{monsterBottom}}; position: absolute; left: 0; right: 0; margin: auto;">
        </div>
        <div class="hit_monster" *ngIf="hit">
          <img src="assets/animations/hit.gif" style="height: 100%">
        </div>

        <div class="hit_player" *ngIf="monsterHit">
          <img src="assets/animations/hit.gif" style="height: 100%">
        </div>
        <div class="champion_bars">
          <p class="champion_name">{{gameEntity.champion.name}}</p>
          <progress value="{{currentHp}}" max="{{gameEntity.totalHp}}" class="champion_healthbar" title="HP: {{currentHp}} / {{gameEntity.totalHp}}"></progress>
          <progress value="{{currentMana}}" max="{{gameEntity.totalMana}}" class="champion_manabar" title="MANA: {{currentMana}} / {{gameEntity.totalMana}}"></progress>
        </div>
        <div class="monster_bars">
          <p class="monster_name">{{currentMonster.name}}</p>
          <progress style="display: block; float: left" value="{{currentHpMonster}}" max="{{currentMonster.hp}}" class="monster_healthbar" title="HP: {{currentHpMonster}} / {{currentMonster.hp}}"></progress>
        </div>

        <div class="ability_animation">
          <img src="{{ability}}" class="ability">
        </div>

        <div class="throwable_animation" *ngIf="throw">
          <img src="{{item}}" class="item">
        </div>

        <div class="potion_animation" *ngIf="drink">
          <img src="{{item}}" class="item">
        </div>

      </div>
    </div>
    <div class="interface_holder">
      <div class="interface">
        <app-main-interface class="main_interface" *ngIf="mainInterface"></app-main-interface>
        <app-attack-interface class="attack_interface" *ngIf="attackInterface"></app-attack-interface>
        <app-ability-interface class="ability_interface" *ngIf="abilityInterface"></app-ability-interface>
        <app-monster-turn-interface class="main_interface" *ngIf="monsterTurnInterface"></app-monster-turn-interface>
        <app-item-use-interface class="item_interface" *ngIf="itemUseInterface"></app-item-use-interface>
      </div>
    </div>
  </div>

  <app-win-interface *ngIf="win" class="win_interface"></app-win-interface>
  <app-lose-interface *ngIf="lose" class="lose_interface"></app-lose-interface>
</div>
