<div class="preview">
  <img class="back_button" src="assets/icons/close.svg" (click)="toggleLastMenu()">
  <div class="overview">

    <div class="overview_text">- OVERVIEW -</div>
    <img class="champion_photo" src="assets/sprites/items/{{currentItem.picture}}">
    <div class="name_container">
      <div class="torches">
        <p class="name" style="color: {{currentItem.nameColor}}">{{currentItem.name}}</p>
      </div>
    </div>
    <div class="stats_container" style="border-color: {{currentItem.nameColor}}">
      <div class="stats">
        <p class="stats_title">- STATS -</p>
        <div class="stat_flexbox" title="{{title1}}">
          <img src="assets/icons/{{stat1}}" style="height: 100%;">
          <p style="font-size: 1.5em; color: red; margin: 0 0 0 0.5em;">: +{{currentItem.bonusHp}}</p>
        </div>
        <div class="stat_flexbox" title="{{title2}}">
          <img src="assets/icons/{{stat2}}" style="height: 100%;">
          <p style="font-size: 1.5em; color: gray; margin: 0 0 0 0.5em;">: +{{currentItem.bonusDamage}}</p>
        </div>
      </div>
      <div class="separator" style="background: {{currentItem.nameColor}}">
      </div>
      <div class="lore">
        <p class="lore-text">{{lore}}</p>
      </div>
    </div>
  </div>

  <div class="buy_container">
    <div class="price">
      <p class="price_text">Price: {{currentItem.price}}</p>
      <img src="/assets/icons/orbs.png" title="ORBS" class="orbs">
    </div>
    <p class="owned_count">Owned: {{count}}</p>
    <div class="insufficient" *ngIf="user.funds < currentItem.price && loading == false">
      <p class="insufficient_text" >NOT ENOUGH ORBS</p>
    </div>
    <div class="buy_button" (click)="buyItem()" *ngIf="user.funds >= currentItem.price && loading == false">BUY</div>
    <img class="loading" *ngIf="loading" src="assets/animations/loading.gif">
  </div>
</div>
