<div *ngIf="!chooseImage">
  <div class="back_button" (click)="adminUserService.toggleUserMenu()"><img src="../../../assets/icons/arrow-back.svg"></div>
  <div class="profile_main">
    <img src="../../../assets/icons/{{user.picture}}" class="profile_picture" (click)="chooseImage=true">
    <p class="profile_username">{{user.username}}</p>
  </div>
  <div class="inputs">
    <label for="email_input" class="email_label">email: </label>
    <input type="text" id="email_input" class="email_input" value="{{user.email}}">
    <label for="password_input" class="password_label">password: </label>
    <input type="text" id="password_input" class="password_input">
    <br>
    <label for="funds_input" class="funds_label">funds: </label>
    <input type="number" id="funds_input" class="funds_input" value="{{user.funds}}">
    <label for="level_input" class="level_label">level: </label>
    <input type="number" id="level_input" class="level_input" value="{{user.level}}">
    <br>
    <label for="exp_input" class="exp_label">exp: </label>
    <input type="number" max="999" id="exp_input" class="exp_input" value="{{user.exp}}">
  </div>
  <div class="buttons">
    <button class="delete_user" (click)="deleteUser()">DELETE_USER</button>
    <button class="save_user" (click)="updateUser()">SAVE_UPDATES</button>
  </div>
</div>

<div *ngIf="chooseImage">
  <p class="choose">CHOOSE_NEW_PICTURE</p>
  <div class="picture_table" >
    <img src="../../../assets/icons/img1.webp" class="p1" (click)="setImage1()">
    <img src="../../../assets/icons/img2.webp" class="p2" (click)="setImage2()">
    <img src="../../../assets/icons/img3.webp" class="p3" (click)="setImage3()">
    <img src="../../../assets/icons/img4.webp" class="p4" (click)="setImage4()">
    <img src="../../../assets/icons/img5.webp" class="p5" (click)="setImage5()">
    <img src="../../../assets/icons/img6.webp" class="p6" (click)="setImage6()">
  </div>
</div>



