<div class="user_view" *ngIf="!chooseImage">
  <div class="back_button" (click)="adminUserService.toggleUserMenu()"><img style="object-fit: contain; height: 2.5em;" src="../../../assets/icons/close.svg"></div>
  <div class="top-div">
    <img src="assets/icons/{{user.picture}}" style="" class="profile-pic" (click)="chooseImage=true">
    <p class="username">{{user.username}}</p>
  </div>
  <div class="input-div">
    <div class="input-section">
      <div class="input-flex">
        <p class="input-label" style="color: lime">email: </p>
        <input id="email_input" type="email" class="input" style="border-color: lime; color: lime;" value="{{user.email}}">
      </div>
      <div class="input-flex">
        <p class="input-label" style="color: red">password: </p>
        <input id="password_input" type="text" class="input" style="border-color: red; color: red;">
      </div>
      <div class="input-flex">
        <p class="input-label" style="color: lightskyblue">role: </p>
        <select name="roles" id="role_select" class="select" value="{{user.role}}">
          <option id="player-option" class="option" value="player">PLAYER</option>
          <option id="admin-option" class="option" value="admin">ADMIN</option>
        </select>
      </div>
    </div>
    <div class="input-section">
      <div class="input-flex">
        <p class="input-label" style="color: goldenrod">orbs: </p>
        <input id="orbs_input" type="number" class="input" style="border-color: goldenrod; color: goldenrod;" value="{{user.funds}}" min="0">
      </div>
      <div class="input-flex">
        <p class="input-label" style="color: deeppink">level: </p>
        <input id="level_input" type="number" class="input" style="border-color: deeppink; color: deeppink;" value="{{user.level}}" min="1">
      </div>
      <div class="input-flex">
        <p class="input-label" style="color: orangered">exp: </p>
        <input id="exp_input" type="number" class="input" style="border-color: orangered; color: orangered;" value="{{user.exp}}" min="0">
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="delete_user" (click)="deleteUser()">DELETE_USER</button>
    <button class="save_user" (click)="updateUser()">SAVE_UPDATES</button>
  </div>
</div>

<div *ngIf="chooseImage">
  <p class="choose">CHOOSE NEW PICTURE</p>
  <div class="picture_table" >
    <img src="../../../assets/icons/img1.webp" class="p1" (click)="setImage1()">
    <img src="../../../assets/icons/img2.webp" class="p2" (click)="setImage2()">
    <img src="../../../assets/icons/img3.webp" class="p3" (click)="setImage3()">
    <img src="../../../assets/icons/img4.webp" class="p4" (click)="setImage4()">
    <img src="../../../assets/icons/img5.webp" class="p5" (click)="setImage5()">
    <img src="../../../assets/icons/img6.webp" class="p6" (click)="setImage6()">
  </div>
</div>



