<div class="topbar">
  <p class="toptext" style="float: left; margin-left: 0.2em; opacity: 1">mirceanealcos_</p>
  <p class="toptext" style="float: right; margin-right: 0.2em">v1.0</p>
</div>
<h1 class="title">set_new_password</h1>
<div class="form_content" *ngIf="errorText == ''">
  <p class="input_label">new_password_</p>
  <input type="password" class="input" id="password_input1" placeholder="enter_new_password"/>
  <p class="input_label">retype_new_password_</p>
  <input type="password" class="input" id="password_input2" placeholder="retype_new_password"/>
  <p class="submit" style="margin: 1.5em 0 0 0;" (click)="changePassword()">submit_</p>
  <img src="assets/animations/loading.gif" class="loading" *ngIf="loading">
</div>
<p class="info" id="info_bad" *ngIf="errorText != ''">{{errorText}}</p>

