<div style="text-align:center">
  <div class="topbar">
    <p class="toptext" style="float: left; margin-left: 0.2em; opacity: 1">mirceanealcos_</p>
    <p class="toptext" style="float: right; margin-right: 0.2em">v1.0</p>
  </div>
  <p class="title">BECOME_A_FIGHTER</p>
  <form class="createacc">
    <p class="input_label" style="margin-top: 0.2em">username_</p>
    <input class="input" type="text" placeholder="enter_username" id="username_input">
    <p class="input_label" style="margin-top: 0.2em">email_</p>
    <input class="input" type="text" placeholder="enter_email" id="email_input">
    <p class="input_label" style="margin-top: 0.2em">password_</p>
    <input class="input" type="password" placeholder="enter_password" id="password_input">
    <p class="input_label" style="margin-top: 0.2em">retype_password_</p>
    <input class="input" type="password" placeholder="reenter_password" id="password_input2">
    <p class="submit" (click)="submit()">submit_</p>
    <p class="submit" (click)="login()" style="margin: 1em 0 0 0;">back_to_login</p>
  </form>
  <img src="assets/animations/loading.gif" class="loading" *ngIf="loading">
  <p class="info-text" id="info_good" *ngIf="info">An email has been sent to {{email}} ! Use the link to validate your account !</p>
  <p class="info-text" id="info_bad" *ngIf="badInfo">{{message}}</p>
</div>
