<div class="back_button" (click)="toggleMainMenu()"><img src="../../../../assets/icons/arrow-back.svg"></div>
<br><br><br>
<p class="add_title">ADD_NEW_ITEM</p>
<div class="inputs">
  <label for="name_input" class="name_label">Name: </label>
  <input type="text" class="name_input" id="name_input">
  <label for="hp_input" class="hp_label">Bonus_Hp: </label>
  <input type="number" class="hp_input" id="hp_input">
  <br>
  <label for="damage_input" class="damage_label">Bonus_Damage: </label>
  <input type="number" class="damage_input" id="damage_input">
  <label for="price_input" class="price_label">Price: </label>
  <input type="number" class="price_input" id="price_input">
  <br>
  <label for="type_input" class="type_label">Type: </label>
  <input type="text" class="type_input" id="type_input">
  <label for="picture_input" class="picture_label">Picture: </label>
  <input type="text" class="picture_input" id="picture_input">
  <br>
  <label for="nameColor_input" class="nameColor_label">Name_Color: </label>
  <input type="text" class="nameColor_input" id="nameColor_input">
  <div class="save_button" (click)="addNewItem()">
    <p class="save_text">+ ADD</p>
  </div>
</div>
